/*
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 */
@namespace "http://www.w3.org/1999/xhtml";


/* 
When the body contains no ldjs specific class, we need to make sure 
that the rendering still makes sense and looks reasonable!
*/
html body:not([class*="ldjs-"]) div#body-content {
	width: 802px;
	margin: auto;
	padding: 8px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

html body:not([class*="ldjs-"]) div#body-content section.slide {
	width: 802px;
	height: 602px;
	margin: 0 0 10px;
	background: white;
}

html body:not([class*="ldjs-"]) div#body-content section.slide > div.section-body {
	-webkit-transform-origin:  0 0;
	-webkit-transform: scale(0.78125,0.78125);
	-moz-transform-origin:  0 0;
	-moz-transform: scale(0.78125,0.78125);
	transform-origin:  0 0;
	transform: scale(0.78125,0.78125);
}

html body:not([class*="ldjs-"]) aside {
	border-radius: 0;
	background: inherit;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	padding: 0.3em 1em;
	border-left: 5px solid #44d;
}

@media print {
	
	html body:not([class*="ldjs-"]) div#body-content {
		border: 0;
		padding: 0;
		margin: 0;		
	}
	
	section.slide {
		page-break-inside: avoid;			
	}

	div#body-content>h1, 
	div#body-content>h2,
	div#body-content>h3,
	div#body-content>h4,
	div#body-content>h5,
	div#body-content>h6 {
		page-break-before: always;	
	}


}
