/* The menu bar itself */

#ldjs-menubar {
    position:fixed;
    height:50px;
    left: 0px;
    right: 0px;
    bottom:-50px;
    background-color: rgba(255,255,255,0.9);
    transition: bottom 0.5s;
    -webkit-transition: bottom: 0.5s;
	padding-right: 56px; /* space for the toggle button */
	z-index: 2000;
	border-top: 1px solid #aaa;
}

body.ldjs-slide #ldjs-menubar {
	padding-right: 112px; /* additional space for the asides button */
}

#ldjs-menubar.visible {
	bottom: 0;
}

#ldjs-menubar>.separator {
	border-right: 1px solid #aaa;
	height: 100%;
}

#ldjs-menubar>.separator.right {
	float: right;
}

#ldjs-menubar>.separator.left {
	float: left;
}

#ldjs-menubar>#ldjs-menubar-spacer {
	width: 56px;
	height: 50px;
	margin: 0 0 0 5px;
	padding: 0;
	float: right;
	border-left: 1px solid #aaa;
}

/* Menu buttons */

#ldjs-menubar a {
	color: #1A1A1A;
	display: block;
	padding: 0;
	margin: 2px 5px;
	outline: none;
	cursor: pointer;
}

#ldjs-menubar a:hover {
	background-color: lightgray;
	box-shadow: 1px 1px 1px #888 inset;
	border-radius: 5px;
}

#ldjs-menubar a.ldjs-menubar-icon-button {
    height: 46px;
	width: 46px;
	background-size: 40px 40px;
	background-position: 3px 3px;
    background-repeat: no-repeat;
}

#ldjs-menubar a.disabled {
	pointer-events: none;
	opacity: 0.25;
}

#ldjs-menubar a.disabled:hover {
	background-color: inherit;
	box-shadow: none;
	border-radius: 0;
}

#ldjs-menubar a.hidden {
	display: none;
}

#ldjs-menubar>a {
	float: right;
}

/* Specific buttons (id selectors) */

#ldjs-menubar>#ldjs-menubar-toggle-button {
	opacity: 1;
    position: fixed;
    right: 0px;
    bottom: 0px;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
}

#ldjs-menubar>#ldjs-menubar-toggle-button:hover {
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
}

#ldjs-menubar.visible>#ldjs-menubar-toggle-button {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

body.ldjs-slide #ldjs-menubar #ldjs-menubar-toggle-button {
	opacity: 0;
}

body.ldjs-slide #ldjs-menubar.visible #ldjs-menubar-toggle-button {
	opacity: 1;
}

body.ldjs-slide #ldjs-menubar #ldjs-menubar-toggle-button:hover {
	opacity: 1;
}

#ldjs-menubar #ldjs-menubar-asides-button {
	float: none;
	position: fixed;
	right: 56px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

body.ldjs-slide #ldjs-menubar #ldjs-menubar-asides-button.disabled {
	bottom: -50px;
}

body.ldjs-slide #ldjs-menubar.visible #ldjs-menubar-asides-button.disabled {
	bottom: 0px;
}

body.ldjs-slide #ldjs-menubar #ldjs-menubar-asides-button:not(.disabled) {
	bottom: 0;
	opacity: 0.5;
}

body.ldjs-slide #ldjs-menubar #ldjs-menubar-asides-button:hover:not(.disabled) {
	opacity: 1;
}

body.ldjs-slide #ldjs-menubar.visible #ldjs-menubar-asides-button:not(.disabled) {
	opacity: 1;
}

#ldjs-menubar>#ldjs-menubar-help-button {
	float: left;
}

#ldjs-menubar>#ldjs-menubar-print-button {
	float: left;
}

/* Submenus */

#ldjs-menubar .ldjs-menubar-submenu {
	position: absolute; 
	bottom: 50px;
	border: 1px solid #aaa;
	border-radius: 4px 4px 0 0;
    background-color: rgba(255,255,255,0.9);
	list-style-type: none;
	white-space: nowrap;
	padding: 5px;
	margin: 0 0 0 -20px;
	z-index: -1; 
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

#ldjs-menubar .ldjs-menubar-submenu.visible {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}

#ldjs-menubar ol.ldjs-menubar-submenu {
	list-style-type: decimal;
	list-style-position: inside;
}

#ldjs-menubar .ldjs-menubar-submenu li {
	display: list-item;
	float: none;
	padding: 0px 5px;
	line-height: 25px;
}

#ldjs-menubar .ldjs-menubar-submenu li:hover {
	background-color: lightgray;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888 inset;
}

#ldjs-menubar .ldjs-menubar-submenu a {
	font-size: 16px;
	font-family: Sans-Serif;
	font-weight: bold;
	padding: 0px 8px 5px 8px;
	display: inline;
}

#ldjs-menubar .ldjs-menubar-submenu li a:hover {
	background: transparent;
	box-shadow: none;
	border-radius: 0;
}

/* Specific submenus */

#ldjs-menubar #ldjs-menubar-submenu-zoom {
	width: 6em;
}

#ldjs-menubar #ldjs-menubar-submenu-list-of-slides {
	max-height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
}

#ldjs-menubar #ldjs-menubar-submenu-asides {
	bottom: 50px;
	position: fixed;
}

/* Scrolling overview */

#ldjs-menubar-scrolling-overview {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 50px;
	height: 146px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	overflow: hidden;
}

#ldjs-menubar-scrolling-overview.visible {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}

#ldjs-menubar-scrolling-overview > section.slide {
	position: absolute;
	bottom: 0;
	border: 1px solid #ccc;
	border-right: none;
	margin: 4px 0 0 0;
	padding: 0;
	width: 192px;
	height: 144px;
	background: white;
}

#ldjs-menubar-scrolling-overview > section.slide > div.section-body {
	pointer-events: none;
	transform: scale(0.1875, 0.1875);
	transform-origin: 0 0;
	-webkit-transform: scale(0.1875, 0.1875);
	-webkit-transform-origin: 0 0;
}

#ldjs-menubar-scrolling-overview > #current-slide-highlight {
	border: 7px solid rgba(0,0,0,0.7);
	width: 179px;
	height: 132px;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}

/* Print rules */

@media print {
	#ldjs-menubar {
		visibility: hidden;
	}
}
