#ldjs-help header {
	border-bottom: 1px solid #636363;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
}

#ldjs-help footer {
	clear: both;
	font-size: smaller;
	margin-top: 1em;
}

#ldjs-help footer p {
	margin: 0;
	font-size: inherit;
}

#ldjs-help dl {
	margin: 0;
	padding: 0;
}

#ldjs-help dd {
	margin-left: 315px;
	margin-bottom: 0em;
	padding: 0;
	font-weight: bold;
	text-align: left;
}

#ldjs-help dd sup {
	font-size: smaller;
}

#ldjs-help dt {
	clear: left;
	float: left;
	margin: 0;
	padding: 0;
	width: 300px;
	font-weight: normal;
	text-align: right;
}
