/*
   Copyright 2012 Michael Eichberg et al - www.michael-eichberg.de

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 */
@namespace "http://www.w3.org/1999/xhtml";
@namespace svg "http://www.w3.org/2000/svg";

/*
	 THE FOLLOWING STYLES ARE ONLY (TO BE) USED BY GENERATED HTML ELEMENTS!
*/

/* @group Styles used by generated HTML code (HTML tags).*/
body.ldjs-slide {
	overflow: hidden;
	margin: auto;
	padding: 0;
	border: 0;
	background-color: black;
	min-width: 1024px; 
}

body.ldjs-slide.scroll {
	overflow: auto;
}

body.ldjs-slide .slide {
	border : 0;
	background-color: white;
}

div.ldjs-slide-number {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left: -10px;
	text-align: center;
	font-size: 0.5em;		
	color: gray;
}

section.slide.hide-slide-number div.ldjs-slide-number {
	display: none;
}
/* @end */

/* @group Styles used by canvas. */
div#ldjs-canvas {
	position: absolute;
	margin-left: -10px;
	margin-top: -10px;
	width: 100%;
	height: 100%;
	z-index: 100;
	visibility: hidden;
	pointer-events: none;
}

div#ldjs-canvas > svg|svg {
	pointer-events: none;
	width: 100%;
	height:  100%;
}

div#ldjs-laserpointer {
	position: absolute;
	top: 50%; /* will be set to the right position at runtime */
	left: 50%; /* will be set to the right position at runtime */
	visibility: hidden; /* will be overridden at runtime */
	width: 2em;
	height : 2em;
	margin-left:-1em;
	margin-top: -1em;
	background-color: red;
	z-index: 200;
	border-radius: 1em;
	opacity: 0.75;
	pointer-events: none;
}
/* @end */

/* @group Styles used by popups. */

div#ldjs-print-dialog.ldjs-message h1 {
	color: #e5e5e5;
}

div#ldjs-print-dialog.ldjs-message b {
	color: #e57505;
	font-weight: normal;
}

div#ldjs-print-dialog.ldjs-message div {
	width: 200px;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: linear-gradient(top, #3e779d, #65a9d7);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: auto;
	cursor: pointer;
}

div#ldjs-print-dialog.ldjs-message ul {
	text-align: left;
}

div#ldjs-modal-dialog.ldjs-message b{
	color: #e5e5e5;
	font-weight: bold;
}

div.ldjs-message {
	position: fixed;
	left: 50%;
	margin-left: -307px;
	top: 10%;
	width : 615px;
	max-height: 80%;
	z-index: 2002;
	color: #e5e5e5;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	overflow: auto;	
	padding: 10px;
	opacity: 0.92;
	font-size: 1.25em;
	text-align: center;
}

div.ldjs-message-error {
	background-color: #dc0000;
	border: 5px solid #892424;
}

div.ldjs-message-information {
	background-color: #202020;
}

a.ldjs-aside-link {
	color: #000066;
}

a.ldjs-aside-link:hover {
	color: #08961d;
	cursor: pointer;
}

div#ldjs-listofslides::before {
	display: block;
	text-align: center;
	padding-bottom: 0.2em;
	content: "List of Slides";
	border-bottom: 1px solid #666666;
}

div#ldjs-modes ol,
div#ldjs-listofslides ol {
	margin-left: 0.5em;
	font-size: 0.9em;
	text-align: left;
}

div#ldjs-modes ol li,
div#ldjs-listofslides ol li {
	cursor: pointer;
	padding: 0.2em;
}

div#ldjs-modes ol li:hover,
div#ldjs-listofslides ol li:hover {
	background-color: #d38890;
}

div#ldjs-modes {
	position: fixed;
	bottom: 0;
	border: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	color: gray;
}

div#ldjs-overlay-layer {
	position: fixed;
	bottom: 0;
	border: 0px;
	width: 100%;
	height: 100%;
	z-index: 101;
}

div#ldjs-overlay-layer.black {
	background-color: black;
}

div#ldjs-overlay-layer.white {
	background-color: white;
}

div#ldjs-overlay-layer.modal {
	z-index: 2001;
	opacity: 0.6;
}

div.ldjs-presentation-finished {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;
	background-color: #202020 ;
	color: #686868;
	font: 1.1em "Lucida Grande", Lucida, Verdana, sans-serif;
}

#ldjs-slides-overview {	
	position: fixed;
	width:  560px; 	/*width: 276px;*/
	top: 10%;
	max-height: 80%; /* Height of the individual slides: 192px */
	padding: 0px;
	overflow-x: auto;	
	border-top-right-radius: 8px;
	border: 5px solid #b4a9a9;
	z-index: 102;
	background-color: #b4a9a9;
	opacity: 0.92;
}

#ldjs-slides-overview::before {
	display: block;
	text-align: center;
	color: #271313;
	content : "Slides";
}


#ldjs-slides-overview > li {
	width: 256px;
	height: 192px;
	margin: 5px;
	float: left;
}

#ldjs-slides-overview section.slide {
	-webkit-transform: scale(0.25,0.25);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin:  0 0;
	-moz-transform: scale(0.25,0.25);
	transform-origin:  0 0;
	transform: scale(0.25,0.25);
}

#ldjs-slides-overview .ldjs-slides-overview-selected-slide {
	opacity: 0.4;
}
/* @end */

/* @group The canvas menu. */
#ldjs-canvas-menu {
	position: absolute;
	left: 1em;
	bottom: 1em;
	font-size:0.5em;
	display: block;
	pointer-events: auto;
}

#ldjs-canvas-menu::before {
	color: #aaaaaa;
	content: "✎";
}

#ldjs-canvas-menu:hover::before {
	content: "";
}
 
#ldjs-canvas-menu:hover {
	padding: 0.3em;
	background-color: white;
	opacity: 0.9;
	border: 1px solid #eeeeee;
}

#ldjs-canvas-menu * {
	display: none;	
	cursor: pointer;
	margin: -0.3em;
	padding: 0.3em;
}

#ldjs-canvas-menu:hover * {
	display: block;	
}

#ldjs-canvas-menu:hover *:hover {
	background-color: #333333;
}

div#ldjs-canvas-menu-clear-canvas {
	content: "✗";
	text-align: center;
}

div#ldjs-canvas-menu-black-stroke {
	color: black;
}

div#ldjs-canvas-menu-yellow-stroke {
	color: yellow;	
}

div#ldjs-canvas-menu-red-stroke {
	color: red;
}
/* @end */
