/*
   Copyright 2012 Michael Eichberg et al - www.michael-eichberg.de

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 */
@namespace "http://www.w3.org/1999/xhtml";
 
/* @group Styles used by the lecture notes.*/
body.ldjs-lecture-notes {
	background-color: white;
}

div#ldjs-lecture-notes {
	padding-left: 1em;
	padding-right: 1em;	
}

div.ldjs-lecture-notes-subsection {
	clear: both;
	overflow: hidden;
	margin-bottom: 1em;
}

div.ldjs-lecture-notes-sidebar {
	float: right;
	width: 642px;
	overflow: hidden;
}

div.ldjs-lecture-notes-sidebar > aside {
	max-width: 100%;
	margin-top: 1em;  
	font-size: 0.715em;
}

div#ldjs-lecture-notes .ldjs-lecture-notes-sidebar section.slide {
	height: 480px;
	width: 640px;
}

div#ldjs-lecture-notes .ldjs-lecture-notes-sidebar div.section-body {
	-webkit-transform-origin:  0 0;
	-webkit-transform: scale(0.625,0.625);
	-moz-transform-origin:  0 0;
	-moz-transform: scale(0.625,0.625);
	transform-origin:  0 0;
	transform: scale(0.625,0.625);
}

@media print {
	div.ldjs-lecture-notes-slide-minipicture {
		page-break-before: always;		
	}
}

div.ldjs-lecture-notes-slide-minipicture section{
	border: 1px solid #ccc;
}	
div.ldjs-lecture-notes-content{		
	border-top: 1px solid #ccc;
}
div.ldjs-lecture-notes-sidebar + div.ldjs-lecture-notes-content {		
	margin-right: 655px;
}
div#ldjs-lecture-notes-footer{
	clear: both;
	padding-top: 1em;
	text-align: center;
	background-color: white;
	padding-bottom: 1em;
}

@media print {
	body {
  		background-color: white;
  	}
}
/* @end */
